# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4

[CMakeLists.txt, *.cmake]
indent_size = 4

[*.{c, cpp, cc, cxx, h, hpp, hh, hxx}]
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[package.json]
indent_size = 2
